#detail{
    width: 100%;
    .detail{
        width: 1200px;
        height: 800px;
        margin: 0 auto;
        position: relative;
        .detail_left{
            width: 450px;
            height: 540px;
            float: left;       
        }
        .detail_right{
            width: 750px;
            height: 540px;
            float: left;
        }
    }
}

//左边
.detail_left{
    /*放大镜样式*/
    .topdet_pic{
        width: 450px;
        height: 450px;
        box-sizing: border-box;
        border: 1px solid black;
        .fdj {
            background: orange;
            opacity: 0.4;
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            z-index: 999;
            cursor: move;
        }
        .spic{ width: 450px;
            height: 450px;
            display: block;
            }
    }
    .leftarrow{
        font-size: 20px;
        color: red;
        cursor: pointer;
        float: left;
        position: absolute;
        top:61%;left: 10px;
        z-index: 999;
    }
    .rightarrow{
        font-size: 20px;
        color: red;
        cursor: pointer;
        float: left;
        position: absolute;
        top:61%;right:63%;
        z-index: 999;
    }
    .botdet_pic{
        width: 450px;
        height: 68px;
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 3px;
        ul{
            float: left;
            position: absolute;
            width: 900px;
            height: 68px;
            top: 0;left:10px;
            li{
                width: 70px;
                height: 68px;
                margin-right: 20px;
                float: left;
            }
        }
    }
}


// 右边
.detail_right{
    .jz{
        position: absolute;
        width: 450px;
        height: 450px;
        box-sizing: border-box;
        border: 1px solid black;
        margin-left: 20px;
        overflow: hidden;
        visibility: hidden;
        .bpic{
            width: 800px;
            height: 800px;
            position: absolute;
            top: 0;left: 0;
        }
    }
    .bottom_box{
        position: absolute;
        top: 450px;left: 500px;
        width: 400px;
        height: 68px;
        margin:18px 0 0 18px;
        .amount{
            width: 68px;
            height: 68px;
            box-sizing: border-box;
            border: 1px solid black;
            float: left;
            .amount_left{
                width: 40px;
                height: 68px;
                float: left;
                // background: palegoldenrod;
                input{width: 38px;height: 66px;outline: none;border: 0;text-align: center;}
            }
            .amount_right{
                height: 68px;
                width: 26px;
                float: left;
                span{width: 26px;
                    height: 32px;
                    font-size: 20px;
                    border-left: 1px solid black;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                span:nth-of-type(1){
                    display: block;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid black;
                    // border-left: 1px solid black;
                }
            }
        }
        .join{
            width: 120px;
            height: 68px;
            background: orange;
            margin-left: 20px;
            float: left;
            text-align: center;
            line-height: 68px;
            color: #fff;
            cursor: pointer;
        }
        .join_in{
            width: 120px;
            height: 68px;
            background: rgb(255, 60, 0);
            float: left;
            text-align: center;
            line-height: 68px;
            color: #fff;
            cursor: pointer;
        }
    }
}